*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
body{
    background-color: #000;
    color:#fff;

}

#header{
    background-image :url(background.png);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.container{
    margin:10px 10%;
}

nav{
    display:flex; /* item side by  side aa sake */
    align-items: center;
    justify-content: space-between;


}

nav ul li{
    display: inline-block;
    margin: 10px;
    
}
nav ul li a{
    text-decoration: none;
    font-size:15px;
    color:white;
    font-weight: 200;
}

nav ul li a:hover{
   color: #ff004f;
    
}

#logo{
    width: 140px;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1{
    font-size: 60px;
}
span{
    color: #ff004f;
}


/* ------ABOUT---------------- */
.About{
    margin: 0;
    padding:50px 0;
    background-color:#393e46;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.coloum1{
    flex-basis: 30%;
}
.coloum1 img{
    width: 100%;
    border-radius: 15px;
}
.coloum2{
    flex-basis: 60%;
}
.subtitle{
   font-size: 60px;
   font-weight: 600;
   color: #fff;
}
.coloum2 p{
   font-size: large;
}
.tab-title{
    margin: 20px 0 40px; /*top left&Right bottom */
    display: flex;
}
.tab-link{
    margin:auto;
    position: relative;
    cursor: pointer;
}

.tab-link::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 5s;
}

.tab-link.active-link::after{
    width: 50%;
}

.any{
    margin: 10px 0;
}

.tab-content{
    display: none;
}
.tab-content.active-tab{
    display: block;
}



/* ------------------SERVICE--------- */
